$text-dark: #2c2c2c;

$background-light: #FFFFFF;
$background-medium: #F9F9FA;
$background-dark: #E4E5E6;
$background-extra-dark: #5c6064;

$font-family: 'Roboto',
sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
    color: $text-dark;
}

#show-panel {
    background-image: linear-gradient( tomato, orange);
    color: $background-light;
    border-style: none;
    padding: 1rem;
    font-weight: 700;
    border-radius: 0.3rem;
    margin: 3rem;
    box-shadow: .3rem .3rem .5rem #6e6e6e;

    &:hover {
        background-image: linear-gradient(orange, tomato);
    }

    &:focus {
        outline: .1rem solid #00000000;
    }

    &:active {
        transform: translateY(.3rem)
    }
}

#side-panel--modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #0000006c;

    .close {
        background-image: linear-gradient( #303030, $background-extra-dark);
        color: $background-light;
        font-size: 2rem;
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        border-radius: 0.3rem 0 0 0.3rem;
        position: relative;
        top: 1.5rem;
    }
}

.side-panel {
    display: flex;
    flex-direction: row;
    width: 80vw;
    float: right;
}