.nav {
    display: flex;
    flex-direction: column;
    background-color: $background-medium;
    width: 20%;
    height: 100vh;
    border-right: 0.1rem solid $background-dark;
    font-size: 0.4em;

    &__links {
        padding: 0.8rem;

        &:hover {
            background-color: $background-dark;
            border-radius: 0.3rem;
            font-weight: 700;
        }
    }

    &__items-1 {
        padding: 0.5rem;
        list-style: none;
        margin: 0.5rem;
        border-bottom: 0.1rem solid $background-dark;
    }

    &__items-2 {
        padding: 0.5rem;
        list-style: none;
        margin: 0.5rem;

    }
}